<mat-sidenav opened mode="side">
<mat-nav-list role="list">
  <mat-list-item role="listitem" routerLink="/featured">
    <mat-icon matListItemIcon class="icon-display1">home</mat-icon>
    <p matListItemLine>Home</p>
  </mat-list-item>

  <mat-list-item role="listitem" routerLink="/subscriptions">
    <mat-icon matListItemIcon class="icon-display1">subscriptions</mat-icon>
    <p matListItemLine>Subscriptions</p>
  </mat-list-item>

  <mat-list-item role="listitem" routerLink="/history">
    <mat-icon matListItemIcon class="icon-display1">history</mat-icon>
    <p matListItemLine>History</p>
  </mat-list-item>

  <mat-list-item role="listitem" routerLink="/liked-videos">
    <mat-icon matListItemIcon class="icon-display1">thumb_up</mat-icon>
    <p matListItemLine>Liked Videos</p>
  </mat-list-item>
</mat-nav-list>

</mat-sidenav>
